.loader {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px; /* Adjusted width */
  height: 100px; /* Adjusted height */
  position: relative;
  animation: spinner-animation 1.2s linear infinite;
}

.spinner-item {
  width: 20px; /* Adjusted width */
  height: 20px; /* Adjusted height */
  background-color: #3498db;
  border-radius: 50%;
  position: absolute;
}

.spinner-item:nth-child(1) {
  left: 5px;
  top: 24px;
  animation-delay: 0s;
}

.spinner-item:nth-child(2) {
  left: 21px;
  top: 9px;
  animation-delay: 0.3s;
}

.spinner-item:nth-child(3) {
  left: 43px;
  top: 5px;
  animation-delay: 0.6s;
}

.spinner-item:nth-child(4) {
  right: 5px;
  top: 24px;
  animation-delay: 0.9s;
}

.spinner-item:nth-child(5) {
  right: 21px;
  top: 42px;
  animation-delay: 1.2s;
}

.spinner-item:nth-child(6) {
  right: 5px;
  bottom: 5px;
  animation-delay: 1.5s;
}

.spinner-item:nth-child(7) {
  left: 43px;
  bottom: 5px;
  animation-delay: 1.8s;
}

.spinner-item:nth-child(8) {
  left: 21px;
  bottom: 42px;
  animation-delay: 2.1s;
}

@keyframes spinner-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
