.tabs {
    display: flex;
    cursor: pointer;
  }
  
  .tab {
    padding: 10px;
    margin-right: 10px;
    position: relative;
    color: #000;
  }
  
  .underline {
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s ease;
  }
  
  .tab.active .underline {
    transform: scaleX(1);
  }
  